<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Points board | GUDLFT Registration</title>
</head>
<body>
        <h2>Points board </h2><a href="{{url_for('logout')}}">Logout</a>

    {% with messages = get_flashed_messages()%}
    {% if messages %}
        <ul>
       {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
       </ul>
    {% endif%}
    <h3>Clubs:</h3>
    <ul>
        {% for club in clubs%}
        <li>
            {{club['name']}}<br />
            Points: {{club['points']}}</br>
        </li>
        <hr />
        {% endfor %}
    </ul>
    {%endwith%}

</body>
</html>